* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

button {
  border: none;
  background-color: transparent;
}

/* *************************** */

:root {
  --white: hsl(0, 0%, 100%);
  --gray: hsl(231, 7%, 60%);
  --charcoal-gray: hsl(235, 18%, 26%);
  --dark-slate-gray: hsl(234, 29%, 20%);
  --tomato: hsl(4, 100%, 67%);
  --tomato-transperent: #e5b4b458;
}

.container {
  position: relative;
  max-width: 53.125rem;
  margin: 0 auto;
}

.subscribe-form {
  .subscribe-form__content {
    display: flex;
    gap: 3.125rem;
  }

  .subscribe-form__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subscribe-form__image img,
  .subscribe-form__image-mobile img {
    max-width: 100%;
    object-fit: cover;
  }
}

.info {
  .info__title {
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--dark-slate-gray);
  }

  .info__text {
    color: var(--charcoal-gray);
  }

  .info__list {
    &:not(:last-child) {
      margin-bottom: 2.1875rem;
    }
  }

  .info__item {
    display: flex;
    align-items: flex-start;
    list-style: none;
    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }

  .info__icon {
    &:not(:last-child) {
      margin-right: 0.9375rem;
    }
  }
}

.form-info {
  .form-info__content {
    display: flex;
    flex-direction: column;
  }

  .form-info__headers {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }

  .form-info__title {
    font-weight: 700;
    color: var(--dark-slate-gray);
  }

  .form-info__title-wrong {
    color: var(--tomato);
  }

  .form-info__input {
    border: 1px solid var(--gray);
    &.wrong {
      color: var(--tomato);
      border: 1px solid var(--tomato);
      background-color: var(--tomato-transperent);
    }
    &.wrong::placeholder {
      color: var(--tomato);
    }
  }

  .form-info__input,
  .form-info__button {
    border-radius: 0.3125rem;
  }
}

.popup {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;

  .popup__content {
    position: absolute;
    padding: 1.875rem;
    max-width: 21.875rem;
    background-color: var(--white);
  }

  .popup__icon {
    &:not(:last-child) {
      margin-bottom: 1.5625rem;
    }
  }

  .popup__title {
    font-size: 2.8125rem;
    font-weight: 700;
    color: var(--dark-slate-gray);
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .popup__text {
    color: var(--charcoal-gray);
    & a {
      font-weight: 700;
      text-decoration: none;
      color: var(--dark-slate-gray);
      &:hover {
        text-decoration: underline;
      }
    }
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }

  .popup__button {
    border-radius: 0.3125rem;
  }
}

.popup.active {
  display: flex;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.button {
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-slate-gray);
  transition: background-color 0.3s ease-in-out;
}

.form-info__input,
.button {
  width: 100%;
  height: 3.125rem;
  padding: 0.625rem;
}

.info__title,
.info__text,
.form-info__input {
  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

/* MEDIA (TABLET) */

@media (min-width: 1023px) {
  .button {
    &:hover {
      background-color: var(--tomato);
    }
  }
}

/* MEDIA (MOBILE) */

@media (min-width: 767px) {
  .subscribe-form__content {
    padding: 1.5625rem;
  }

  .subscribe-form__image-mobile img {
    display: none;
  }

  .popup {
    .popup__content {
      border-radius: 1.25rem;
    }
  }
}

@media (max-width: 767px) {
  .subscribe-form {
    .subscribe-form__content {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 0.3125rem;
    }

    .subscribe-form__info {
      padding: 1.5625rem;
    }

    .subscribe-form__image img {
      display: none;
    }

    .info__title {
      font-size: 2.1875rem;
    }
  }

  .popup {
    .popup__content {
      padding: 1.25rem;
    }

    .popup__title {
      font-size: 2.5rem;
    }

    .popup__text:not(:last-child) {
      margin-bottom: 15rem;
    }
  }
}
